build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.pgdata
.pgpass-init.txt
.pg_local_data/
.pg_local.log
.pg_local_password.txt
dev.log
dev-local.log
qc
tsconfig.tsbuildinfo

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
