version: '3.9'

services:
  web:
    image: node:22-alpine
    working_dir: /app
    command: sh -c "npm install && npm run payload:migrate && npm run generate:importmap && npm run generate:types && npm run seed && npm run dev"
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
      - app_node_modules:/app/node_modules
      - app_media:/app/media

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: star_ring_capital
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
  app_node_modules:
  app_media:
